<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.coffeearrow"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="15" />

    <application
        android:debuggable="true"
        
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SignIn"
            android:label="@string/signIn"
            android:theme="@style/notitle" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
             android:theme="@style/DisplayTheme"
            android:name=".InvitationsActivity"
            android:label="@string/proposal" >
        </activity>
        <activity
            android:theme="@style/DisplayTheme"
            android:name=".DisplaySearchResultsActivity"
            android:label="@string/appName"
            android:icon="@drawable/heart">
        </activity>
        <activity
             android:theme="@style/DisplayTheme"
            android:name=".ShowUserProfileActivity"
            android:label="@string/title_activity_show_user_profile"
            android:icon="@drawable/user2">
        </activity>
        <activity
            android:theme="@style/DisplayTheme"
            android:name=".SelfProfileActivity"
            android:icon="@drawable/user2"
            android:label="@string/appName" >
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:theme="@style/notitle" >
        </activity>
        <activity
            android:name=".PendingVerificationActivity"
            android:label="@string/title_activity_pending_verification"
            android:theme="@style/notitle"  >
        </activity>
        <activity
            android:name=".RequestHistoryActivity"
            android:label="@string/title_activity_request_history"
            android:theme="@style/notitle" >
        </activity>
        <activity
            android:name=".TestActivity"
            android:label="@string/title_activity_test" >
        </activity>
        <activity
            android:name=".UploadImageActivity"
            android:label="@string/title_activity_upload_image" >
        </activity>
        <activity
            android:name=".ChangeDateActivity"
            android:label="@string/title_activity_change_date"
            android:theme="@style/Theme.SelectDate" >
        </activity>
        <activity
            android:name=".NewDateActivity"
            android:label="@string/title_activity_new_date"
            android:theme="@style/Theme.SelectDate" >
        </activity>
        <activity
            android:name=".EditImageActivity"
            android:label="@string/title_activity_edit_image" >
        </activity>
        <activity
            android:name=".AuthorizeAmazonPaymentActivity"
            android:label="@string/title_activity_authorize_amazon_payment" >
        </activity>
        <activity
            android:name=".SendForgetPasswordLinkActivity"
            android:label="@string/title_activity_send_forget_password_link"
            android:theme="@style/notitle" >
        </activity>
    </application>

</manifest>